<h1 class="center_content">Welcome to my blog</h1>
<% @users.each do |user| %>
  <%= render partial: 'user', object: user %>
<% end %>
<h2 class="center_content"><%= @users.count %> Online Users</h2> 