<div class="post_data flex-row">
  <div class="post_info">
    <h4>Post #<%= post.title %></h4>
    <div class="flex">
    <h3 class="post_text_style"><%= post.text %></h3>
    <div class="flex-row right-content">
        <div class="flex-row gap">
          <h5 class"small_text">Comments: <%= post.comments_counter %></h5>
          <h5 class"small_text">Likes: <%= post.likes_counter %></h5>
        </div>
    </div>
    </div>
  </div>
</div>
