.center_content {
  text-align: center;
}

.flex-row {
  display: flex;
  align-items: center;
}

.user_data {
  margin: auto;
  justify-content: space-between;
}

.img_content {
  margin-left: 20px;
}

.user_img {
  height: 100px;
}

.user-info {
  width: 100%;
  margin: 20px;
  border: solid 1px gray;
  gap: 20%;
  justify-content: space-between;
  padding: 0 20px 0 20px;
}

#username {
  font-size: 35px;
}

.bttn-1 {
  padding: 10px 20px 10px 20px;
  margin-left: 20px;
  text-decoration: none !important;
}

a {
  text-decoration: none !important;
  color: black;
}
